* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fafafa;
  background-color: #18181b;
  font-family: 'Sono', sans-serif;
  padding: 40px;
}

/* MAIN LAYOUT */
.header {
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #27272a;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

/* ELEMENTS */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #27272a;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}
